.container{
    height: 400px;
    width: 700px;
    background-color: white;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
}

.item{
    background-color:  rgb(241, 177, 177);
    text-align: left;
}

.header{
    grid-column: 1/13;
}

.sidebar{
    grid-row: 2/12;
    grid-column:1/4;
}

.navigation{
    grid-column: 4/10;

}

.ads{
    grid-row: 2/12;
    grid-column: 10/13;
}

.main{
    grid-row: 3/12;
    grid-column: 4/10;
}

.footer{
    grid-row-start: 12;
    grid-column: 1/13;
}
